DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'scrumlab',
        'HOST': 'localhost',
        'USER': 'postgres',
        'PASSWORD': 'coderslab'
    }
}